torch
fastapi
uvicorn
starlette
openai
websockets
tensorneko_util >= 0.3.21, < 0.4.0
requests
pillow
word2number
ollama
bitsandbytes
numpy < 2
gradio >=5.0, < 5.12
pydantic < 2.11
python-dotenv
transformers
opencv-python
rich