torch
fastapi
uvicorn
starlette
openai
websockets
tensorneko_util >= 0.3.21, < 0.4.0
requests
pillow
word2number
python_dateutil
timm == 0.9.16
transformers
tokenizers
chardet
python-dotenv
opencv-python
accelerate
bitsandbytes
nltk
pydantic
yacs
pycocotools
prettytable
ftfy
torchmetrics
scipy
gdown
rich
ollama
gradio >=5.0, < 5.12
numpy < 2